*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inicio {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 134, 97);
}

.inicio h1 {

    color: rgb(255, 255, 255);
    text-shadow: 0 0 0.3rem rgb(110, 104, 104);
}

.fundo {
    background-image: url(https://img.freepik.com/fotos-gratis/bela-praia-tropical-mar-e-mar-com-palmeira-de-coco-na-hora-do-nascer-do-sol_74190-7454.jpg?w=2000);
    height: auto;
}

.titulo-form {
    background-color: rgb(148, 73, 38);
    width: 70%;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    padding: 10px;
    color: rgb(247, 197, 181);
    text-shadow: 0 0 0.3rem rgb(110, 104, 104);
    
}

.container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    padding-top: 70px;
    padding-bottom: 70px;

}
.forms{

   border: 1px solid rgb(134, 125, 125);
   width: 70%;
   background-color: rgb(255, 255, 255);
   box-shadow: 0 0 1rem rgb(0, 0, 0);
   padding: 25px;
   
  
}

.forms h3 {
    text-align: left;
    padding: 15px;
    font-size: 23px;
    text-shadow: 0 0 0.3rem rgb(110, 104, 104);
}

.containerDados {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(80, 75, 75);
    padding-bottom: 45px;
    
}
.containerDados input {
    padding: 4px;
    margin: 7px;
    border-radius: 3px;
    border: 1px solid rgb(29, 27, 27) ;
    box-shadow: -1px 1px 2px rgb(44, 43, 43);
}

.geral {
    display: flex;
    flex-direction: row;
}

.containerData {
    display: flex;
    flex-direction: column;
    width: 50%; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(80, 75, 75);
    color: rgb(56, 51, 48);
   
}
.containerData input, select{
    padding: 4px;
    margin: 7px;
    border-radius: 3px;
    border: 1px solid rgb(29, 27, 27) ;
    box-shadow: -1px 1px 2px rgb(44, 43, 43);
}


.dataVolta{
    display: flex;
    flex-direction: column;
    width: 50%; 
    padding-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(80, 75, 75);
    color: rgb(56, 51, 48);

}

.dataVolta input, select {
    padding: 4px;
    margin: 7px;
    border-radius: 3px;
    border: 1px solid rgb(29, 27, 27) ;
    box-shadow: -1px 1px 2px rgb(44, 43, 43);
}

fieldset {
    border: 0;
}

.containerRadio {
    text-align: left;
    padding: 10px;
    padding-top: 45px;
    text-shadow: 0 0 0.3rem rgb(156, 147, 147);
    
}

section {
    padding: 20px;

}

.check label {
    padding: 10px;

}

button {
    background-color: rgb(148, 73, 38);
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    padding: 10px;
    color: rgb(247, 197, 181);
    text-shadow: 0 0 0.3rem rgb(0, 0, 0);
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgb(80, 24, 24);
    
}

button:active {
    box-shadow: inset 0 0 1rem rgb(82, 77, 77);
}

.containerDados input:hover{
    background-color: rgb(92, 84, 84);
    color: antiquewhite;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px ;
    height: auto;
    flex-direction: column;
    
}

.ofertas {
    padding: 25px;
    width: 70%;
    height: auto;
    
}

.descricao {
    text-align: left;
    padding: 10px;
    text-shadow: 0 0 0.3rem rgb(156, 147, 147);
    
}

.descricao p {
    padding-bottom: 10px;
    padding-top: 10px;
}

.containerImg img {
    display: flex;
    position: relative;
    width: 100%;
    
   
}

.box-esq {
    width: 48%;
    display: inline-block;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    
}
.box-esq img {
    width: 100%;
    height: 300px;
    
}

.box-dir {

    width: 50%;
    display: flex;
    flex-flow: row wrap;
    float: right;
    
    
}

.box-dir .img1, .img2, .img3, .img4 {
   width: 50%;
   height: 100%;
   padding: 0 5px 5px 5px;
   
}

.box-dir img {
    width: 100%;
    height: 135px;
}

.box-dir figcaption , .box-esq figcaption{
    background-color: rgb(2, 2, 2);
    color:rgb(255, 255, 255);
    opacity: 0.8;
    padding: 4px;
    

}

.explore {
    padding: 25px;
    width: 70%;
    height: auto;
    
}

.containerImg2{
    display: flex;
    width: 100%;
}

.containerImg2 img {
    height: 298px;
    width: 416px;
}

.box2-esq {
    padding-right: 60px;
    width: 48%;
    display: inline-block;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    margin-right: 30px;
}

.box2-dir {
    padding-right: 60px;
    width: 48%;
    display: inline-block;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    
}

.containerImg2 figcaption {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.containerImg2 figcaption h3 {
    padding-bottom: 10px;
    text-shadow: 0 0 0.3rem rgb(56, 54, 54);
}

.containerImg2 figcaption p {
    font-style: italic;
}

footer {
    background-color: rgb(214, 134, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
    border-radius: 100px;
    margin-bottom: 25px;
    margin-top: 15px;
    
}

.rodape {
    max-width: 1024px;
    width: 100%;
    background-color: rgb(214, 134, 97);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.rodape p {
    padding: 8px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 0 0 0.3rem rgb(56, 54, 54);
    
    
}

.rodape h3 {
    color: aliceblue;
    text-align: center;
    font-size: 30px;
    padding: 15px 0 15px 0;
    text-shadow: 0 0 0.3rem rgb(56, 54, 54);
}






